<header>
  <img class="main-icon" src="../../../assets/icons/main-icon.svg" alt="seineIcon" />
  <span class="menu">Меню</span>
  <input type="checkbox" id="active" />
  <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Головна</a></li>
      <li><a href="#">Про Нас</a></li>
      <li><a href="#">Служіння</a></li>
      <li><a href="#">Галерея</a></li>
      <li><a href="#">Відклики</a></li>
    </ul>
  </div>
</header>
