<div class="hero">
    <div class="header">
      <img class="main-icon" src="../../../assets/icons/main-icon.svg" alt="seineIcon"/>
      <span class="menu">Menu</span>
      <input type="checkbox" id="active" />
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper">
        <ul>
          <li><a>Головна</a></li>
          <li><a>Про Нас</a></li>
          <li><a>Служіння</a></li>
          <li><a>Галерея</a></li>
          <li><a>Відклики</a></li>
        </ul>
      </div>
    </div>

    <div class="seine-wrapper">
      <p class="pre">The</p>
      <p class="title">Seine of Harvest</p>
      <div class="description-shell">
        <div class="address-shell">
          <p class="address">Адреса:</p>
          <p class="city">Україна, м. Київ</p>
          <p class="street">Жилянська, 101</p>
        </div>
  
        <!-- <div class="media-icons">
           <a><img src="../../../assets/icons/instagram.svg" alt="seineIcon"></a>
           <a><img src="../../../assets/icons/telegram.svg" alt="seineIcon"></a>
           <a><img src="../../../assets/icons/facebook.svg" alt="seineIcon"></a>
           <a><img src="../../../assets/icons/youtube.svg" alt="seineIcon"></a>
        </div> -->
  
        <div class="services-shell">
          <p class="service">Служіння:</p>
          <p class="day">П'ятниця, 19:00, молитва</p>
          <p class="day">Субота, 13:00, Богослужіння</p>
        </div>
      </div>
    </div>
</div>
