<div class="home">
  <p class="event-title">Наші <span class="events">Івенти</span></p>
    <ul class="event-shell">
      <li>
        <a class="title">Проповіді</a>
        <p class="description">Description</p>
      </li>
      <li>
        <a class="title">Поклоніння</a>
        <p class="description">Description</p>
      </li>
      <li>
        <a class="title">Інкаунтер</a>
        <p class="description">Description</p>
      </li>
      <li>
        <a class="title">Життя Церкви</a>
        <p class="description">Description</p>
      </li>
    </ul>
</div>
